extends ../base
block content
    form(action="/videos/search" method="get")
        input(name="keyword" type="text" placeholder=keyword)
        input(type="submit", value="Search!" )
    ul
        each video in videos
            a(href=`/videos/${video._id}`)
                h2=video.title
                h4=video.description
        else
            h1 Sorry, We can't find any Video